








	<div class="panel panel-default">

  <div class="panel-heading">
    <div class="panel-title">
      <h3>About</h3>
    </div>
  </div>

  <div class="panel-body">

	<p>Tap and Filter is a collective pinboard for drinkers and brewers alike.</p>

	<p>Pin your favourite ales, recommend a lager or champion a cheeky cider.</p>

	<hr />

	<p>
		Tap and Filter is part of my <a href="http://www.slater.io/ruby-on-rails-12-month-challenge/" target="_blank">12 Month Rails Challenge</a>. If you find this kind of stuff interesting, you can follow my progress on twitter. 

	</p>

  </div>

<div class="panel-footer">
	<p>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tapandfilter.com" data-text="Pinterest for beer? check out Tap and Filter" data-via="slater_io" data-size="large" data-count="none" data-hashtags="lovebeer">Tweet</a>

	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</p>
</div>

</div>